[include]
    path = .gitconfig-private

[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    fixup = !git commit --amend --no-edit
    co = checkout
    com = checkout master
    comp = !git checkout master && git pull && git subdate
    restash = !git stash show -p | git apply --reverse
    subdate = !git submodule update --init --recursive
    resetfile = !git checkout HEAD --
    br = !git branch -v --sort=committerdate
    lc = !git log --name-status HEAD^..HEAD

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
